nav{
    display: flex;
    flex-direction: column;
    // align-items: center;
    background: #000;
    justify-content: left;
    a{
        width: 4vw;
        padding: 1vw;
        font-size: 2vw;
        text-decoration: none;
        color: aqua;
        z-index: 1;
        transition: .5s;
        &:hover{
            .nav-text{
                display: inline-block;
            }

            display: inline-block;
            width: 200px;
        }
        .nav-text{
            font-size: 24px;
            display: none;
            margin-left: 20px;
        }
        
    }
    .active{
        background: aqua;
        color: #000;
    }
}